.dotfiles
Code
Kvantum
Thunar
VSCodium
betterlockscreen
btop
cava
cfg_backups/240126_02h53m38s
cron
dconf
discordcanary
dwmblocks
eww
fish
flameshot
gtk-3.0
hypr
i3
kde.org
kitty
lazygit
nvim
nwg-look
obs-studio
polybar
pulse
qt5ct
qtile
ranger
rofi
session
spicetify
swappy
systemd/user
tmux
waybar
xfce4
xsettingsd
yay
zathura
EOS-greeter.conf
baloofileinformationrc
birdtray-config.json
dolphinrc
eos-update-notifier.first_init
kdeglobals
knfsshare
mimeapps.list
pavucontrol.ini
starship.toml
user-dirs.dirs
user-dirs.locale
font-manager
spotify
obsidian
vlc
Slack
noisetorch
