Thunar
autostart
btop
dconf
discordcanary
lazygit
nano
nvim
nwg-look
obsidian
EOS-greeter.conf
reflector-simple-free-params.txt
user-dirs.dirs
user-dirs.locale
nextjs-nodejs
BraveSoftware/Brave-Browser
go/telemetry/local
spotify
