BraveSoftware/Brave-Browser
Code
Kvantum
Notion
ResponsivelyApp
Thunar
alacritty
astro
bspwm
btop
craftz.nvim
dconf
discordcanary
dotfiles
geany
github-copilot
gtk-3.0
networkmanager-dmenu
nitrogen
notion-app
nvim
obmenu-generator
obsidian
plank/dock1/launchers
pulse
qt5ct
ranger
rofi
tailscale
xfce4
mimeapps.list
pavucontrol.ini
picom-ibhagwan.conf
picom-jonaburg.conf
picom-original.conf
user-dirs.dirs
user-dirs.locale
